html, body,.right ul,.left {
	padding: 0;
	margin: 0;
}
* {
	box-sizing: border-box;
}
nav[class=navigation] {
	position: fixed;
	top: 0;
	width: 100%;
	height: 10vh;
	background-color: #78adc9;
}
.left {
	width: 20vw;
	height: 10vh;
	display: inherit;
}
.left img {
	width: auto;
    height: 10vh;
    margin-left: 10px;
}
.right {
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	height: 10vh;
}
.right ul {
	list-style: none;
	display: flex;
}
.right ul li {
	padding: 0 .7rem;
}
.right ul li a {
	text-decoration: none;
    color: black;
    width: auto;
    height: 10vh;
    margin: 0;
    display: flex;
    padding: 0 1vw;
}
.right ul li p {
    cursor: pointer;
}
.right ul li p:hover {
    padding: 0;
    text-align: center;
    color: white;
    border-top: 1rem solid white;
    transition: .5s;
    margin-top: 0;
    padding-top: 1rem;
}
.p1 {
    background-size: 100%;
    background-image: url(../img/p1-bground.jpg);
    background-attachment: fixed;
    background-position: unset;
    background-repeat: no-repeat;
    text-align: center;
}
.p1, .p2, .p3 {
    padding-top: 10vh;
    width: 100%;
    height: auto;
    min-height: 100vh;
}
.p1:focus {
    transition: 1s;
}
.p1 h1 {
    background-color: #ffffff75;
    color: black;
    text-shadow: 0 0 10px black;
    margin-top: 10vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 0 10vw;
    font-family: sans-serif;
    font-weight: normal;
}
.p2 h1 {
	margin-top: 10vh;
	margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    padding: 0 18vw;
    font-family: sans-serif;
    font-weight: normal;
}
.p2 .list {
    width: 80vw;
    padding: 1rem 5rem;
    height: 65vh;
    overflow: hidden;
    overflow-x: auto;
    margin: 0 auto;
}
.list ul {
    padding: 0;
    list-style: none;
    display: inline-flex;
    text-align: center;
    width: auto;
    height: max-content;
}
.list ul li {
    width: 30vw;
    height: 55vh;
    padding: 1rem;
    background-color: #78adc9;
    margin-right: 4vw;
}
.list ul li:hover {
	box-shadow: 0 0 10px black;
	transition: .5s;
}
.list ul li h4 {
	text-transform: uppercase;
}
.list ul li p {

}
.p3 {
	padding: 12vh 10px 10px 10px;
    border: 10px solid white;
    border-top: 12vh solid white;

}
.p3 h1 {
	margin-top: 10vh;
	margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    padding: 0 18vw;
    font-family: sans-serif;
    font-weight: normal;
}